{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/lista_usuario.css' %}">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.ubicacion }}</td>
                    <td>
                        <a href="{% url 'usuario_edit' usuario.id %}">Editar</a>
                        <a href="{% url 'usuario_delete' usuario.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay usuarios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><a href="{% url 'publicacion_list' %}">Volver a la Lista de Publicaciones</a>
</body>
</html>