
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/buscar publicacion.css' %}">
    <title>Búsqueda de Publicaciones</title>
</head>
<body>
    <h1>Búsqueda de Publicaciones</h1>
    <form method="GET">
        <label for="usuario">Usuario:</label>
        <select name="usuario" id="usuario">
            <option value="">-- Todos los usuarios --</option>
            {% for usuario in usuarios %}
                <option value="{{ usuario.id }}" {% if request.GET.usuario == usuario.id|stringformat:"s" %}selected{% endif %}>
                    {{ usuario.nombre }} 
                </option>
            {% endfor %}
        </select>
        <br>
    
        <label for="destino">Destino:</label>
        <select name="destino" id="destino">
            <option value="">-- Todos los destinos --</option>
            {% for destino in destinos %}
                <option value="{{ destino.id }}" {% if request.GET.destino == destino.id|stringformat:"s" %}selected{% endif %}>
                    {{ destino }}
                </option>
            {% endfor %}
        </select>
        <br>
        
        <label for="page_size">Resultados por página:</label>
        <select name="page_size" id="page_size">
            <option value="5" {% if request.GET.page_size == "5" %}selected{% endif %}>5</option>
            <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
            <option value="15" {% if request.GET.page_size == "15" %}selected{% endif %}>15</option>
        </select>
        <br>
    
        <button type="submit">Buscar</button>
    </form>

    <h2>Resultados:</h2>
    {% if publicaciones %}
        <table border="1">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Destino</th>
                    <th>Texto</th>
                </tr>
            </thead>
            <tbody>
                {% for publicacion in publicaciones %}
                    <tr>
                        <td>{{ publicacion.usuario}}</td>
                        <td>{{ publicacion.destino}}</td>
                        <td>{{ publicacion.texto }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron publicaciones.</p>
    {% endif %}
    <br>
    <!-- Botón para volver a la lista de publicaciones -->
    <a href="{% url 'publicacion_list' %}">
        <button type="button">Volver a la lista de publicaciones</button>
    </a>
</body>
</html>